<% include ../partials/header %>

<h2>sign in</h2>

<form class="" action="/authentication/sign-in" method="post">
  <input type="text" name="email" placeholder="email" required>
  <input type="password" name="password" placeholder="password" required>
  <button type="submit">Sign in</button>
</form>

<%= msg %>

<% include ../partials/footer %>
