<% include ../partials/header %>

<h2>sign up</h2>

<form class="" action="/authentication/sign-up" method="post">
  <input type="text" name="name" placeholder="name" required>
  <input type="text" name="email" placeholder=""="email" required>
  <input type="password" name="password" placeholder="password" required>
  <button type="submit">Create Profile</button>
</form>

<% include ../partials/footer %>
